<% provide(:title, "Virus : Add batch") %>

<div class="container">
	<div class= "row">
		<div class="col-lg-12">
			<h4> Virus production: <%= @virus_production.number %> </h4>
		</div>
	</div>

<div id="info-container" class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-body" >
			<div class="row" >
				<div class="col-lg-6">
		<%unless @virus_batches.empty?%>
					<strong><%= "Virus batch".pluralize(@virus_batches.length)%> : </strong><br />
				</div>
			</div>
			<div class="row top10" >
				<div class="col-lg-6">
						<table>
							<% @arr.each do |elt|%>
								<tr>
									<% elt.each do |b|%>
									<td>
										<div class="col-lg-12 col-md-12 col-sm-12 draggableContainer center">
											<a tabindex="0" data-toggle="popover" data-trigger="focus" data-html = "true" data-container="body"
												title='
													<div class="row"> 
														<div class="col-lg-5 text-left">
															
														</div>
														<div class="col-lg-12 right">
															<%unless b.trash%>
																<%= link_to "Edit", edit_from_inventory_virus_production_virus_batch_path(@virus_production, b), :class =>"btn btn-primary btn-sm", :remote => false %>
																<%= link_to "Remove", destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b.id), :class =>"btn btn-danger btn-sm", :title=>"Remove from list.", :remote => false %>
															<%else%>
																<%= link_to "Rescue", destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b.id), :class =>"btn btn-warning", :title=>"Rescue", :remote => false %>
															<%end%>	
														</div>	
													</div>'
												data-content='
													<div class="col-lg-12 text-left">
														<strong>Name : <%= b.name.nil? ? "-" : b.name%></strong><br />
														<strong>Barcode : </strong><%= b.barcode.nil? ? "-" : b.barcode %><br />
														<strong>Date of production : </strong><%= b.virus_production.date_of_production.nil? ?  "-" : b.virus_production.date_of_production.strftime("%h %e, %Y ") %><br />
														<strong>Date of thawing : </strong><%= b.date_of_thawing.nil? ?  "-" : b.date_of_thawing.strftime("%h %e, %Y ") %><br />
														<strong>Volume : </strong><%= b.volume.nil? ? "-" : b.volume %> <%= b.vol_unit_id.blank? ? "" : b.vol_unit.name %><br />
														<strong>Box : </strong><%= b.position.nil? ? "-" : b.position.box.name %> <br />
														<strong>Slot : </strong><%= b.position.nil? ? "-" : b.position.name.upcase() %> <br />
														<% if !b.comment.blank? %>
															<strong>Comments : </strong><br /><%= b.comment || "-" %><br />
														<%end%>
													</div>
												'
											>
						<div style="width: 60px; text-align: center;">
								<img src= "<%=b.set_tube_status %>" alt="not-empty" class="<%=b.set_draggable%>" data-id="<%=b.id %>"/>
								<div class="<%= b.set_color_from_position%>"><strong><%= b.name %></strong></div>	
						</div>
											</a>	
										</div>
									</td>
								<%end%>
								</tr>
							<%end%>
						</table>
			<%else%>
				<span><p>No batch yet.</p></span>
			<%end%>
			</div><!--End of col-lg-6-->
				<div class="col-lg-6 right">
						<%= link_to "Add virus batch", new_from_inventory_new_virus_production_virus_batch_path( :virus_production_id => @virus_production.id ), :class =>"btn btn-default", :remote => false %>
						<%= link_to "Storage", sort_tube_virus_production_path( :virus_production_id => @virus_production.id ), :class =>"btn btn-default", :id =>"sort-tube-btn" ,:remote => true %>
						<div id="sort-container" class="container"></div>
						<div id = "help-block-container"></div>
					</div><!--End of col-->
				</div><!--End pf row top10-->
				<div class="row">
					<div class="col-lg-12">
						<div id="map-container"></div>
					</div>
				</div>
			</div><!--End of panel body-->
		</div><!--End of panel-->
	</div>
</div>
