<h3>Edit plasmid box</h3>

<%= simple_form_for @pbox, url: update_pbox_path do |f| %>
  <%= f.error_notification %>
   <ul>
    <% @pbox.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :barcode %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', clone_batches_path %>
