<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-pills">
			<%= setLinktoActive("assays", "Design", :clone_design, clone_design_assay_path) %>
			<%= setLinktoActive("assays", "Clone batch", :clone_batch, clone_batch_assay_path) %>
			<%= setLinktoActive("assays", "Clone batch QC", :clone_batch_qc, clone_batch_qc_assay_path) %>
			<%= setLinktoActive("assays", "Plasmid design", :plasmid_design, plasmid_design_assay_path) %>
			<%= setLinktoActive("assays", "Plasmid batch", :plasmid_batch, plasmid_batch_assay_path) %>
			<%= setLinktoActive("assays", "Plasmid batch QC", :plasmid_batch_qc, plasmid_batch_qc_assay_path) %>
			<%= setLinktoActive("assays", "Close", :close, close_assay_path) %>
		</ul>
	</div>
	
</div>
