<%= simple_nested_form_for @virus_production, url: create_sterilitytest_virus_production_path(:id => @virus_production.id), html: { class: 'form-vertical' }, :remote => true  do |f| %>
		<div class="form-group ui-front well">
			<div class="row">
				<div class="col-lg-2">
					<%=s.input :date, :label => "Date", :as => :string, :input_html => { :value => (s.object.date.strftime("%B %e, %Y") if s.object.date), "data-behaviour" => "datepicker" } %>
				</div>
				<div class="col-lg-2">
					<%= s.input :sterility, label: "Sterility", collection: [["yes",1],["no",2]], input_html: {class: "select2-select"} %>
				</div>
			</div>
			<%= s.link_to_remove "Remove test" %>
		</div>
	<%end%>
		<div class="row">	
			<div class="col-lg-12">
				<%= f.link_to_add "Add a sterility test", :sterilitytests, :class => "btn btn-info btn-sm" %>
			</div>
		</div>
<%end%>