<%= simple_nested_form_for @virus_production, html: { class: 'form-vertical' } do |f| %>
	<%= f.error_notification %>
	<%= f.input :id, :as => :hidden %>
		<div class="row">
			<div class="col-xs-2">
				<% unless VirusProduction.last.nil? %>
					<% n = VirusProduction.last.nb+1 %>
				<%else%>
					<% n = 1 %>
				<%end%>
					<%= f.input :nb, label: "Number", :input_html => { :value => n }, :readonly => true %>
					<%= f.input :nb, :input_html => { :value => n }, :as => :hidden %>
					<%= f.input :number, :input_html => { :value => n.to_s }, :as => :hidden %>		
			</div>
		</div>

			<% unless f.object.clone_batches.empty? %>
			<div class="row">
				<div class="col-xs-2" >
							<strong>Associated plasmids :</strong>
				</div>
				<div class="col-xs-10">
									 <table class = "table table-sm table-bordered">
									 	
											<% f.object.clone_batches.each do |cb| %> 
											<tr>
												<td><%= cb.number %></td>
												<td><%= cb.name %></td>
											</tr>
											<%end%>
									</table>
			
						</div>
				</div>
			<% end %>			

		<div class="row top20">
				<div class="col-xs-6">
					<%=f.check_box :invoice, as: :boolean, checked_value: true, unchecked_value: false%>  <span class="labelText"><strong>Invoice</strong></span>
				</div>
				<div class = "col-xs-6">
						<%=f.input :date_of_production, :label => "Date of production", :as => :string, :input_html => { :value => (f.object.date_of_production.strftime("%B %e, %Y") if f.object.date_of_production), "data-behaviour" => "datepicker" } %>
				</div>
			</div>
			
		<div class="row">
				<div class="col-xs-7">
								<%= f.association :user, :label => "Contact name",
												:collection => User.all, :label_method => :full_name, :value_method => :id,
												:input_html => { class:"select2-select" } %>
									</div>
				<div class="col-xs-3">
					<%= f.input :vol, :label => "Volume" %>
				</div>
				<div class="col-xs-2">
					<%= f.association :vol_unit, :label => "Unit",
												:collection => VolUnit.all,:value_method => :id,
												:input_html => { class:"select2-select" },
												:selected => 1 %>
				</div>
		</div>
		<div class="row">
				<div class="col-xs-6">
					<%=f.input :gel_prot , :label => "Gel (proteins)"%>
				</div>
				<div class="col-xs-6">
					<%=f.input :hek_result , :label => "HEK (results)"%>
				</div>
		</div>
			
		<div class="row">
				<div class="col-xs-12">
					<%=f.input :comment , :label => "Comment"%>
				</div>	
		</div>
		<div class="row">
			<div class="col-xs-2">
				<%=f.input :dismissed, collection: VirusProduction.statuses, input_html: { class: 'select2-select'}%>
			</div>
		</div>		
			
		<div class="btn-group row" role="group" aria-label="...">
			<div class="col-xs-12 right">
				<%= f.submit "Save", :class => "btn btn-primary" %>
	        		<%= link_to "Cancel", :back, :class => "btn btn-default", :remote => true %>
	        </div>
		</div>
<%end%>
