<% unless dosages.empty?%>
<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed" id="plasmid-table">
			<thead>
				<th class="text-center">Titer</th>
				<th class="text-center">Titer ATCC</th>
				<th class="text-center">Titer to ATCC</th>
				<th class="text-center">Contact</th>
				<th class="text-center">Date</th>
				<th class="text-center">Inact.</th>
				<th class="text-center">Inact. atcc</th>
				<th class="text-center">Inact. strd</th>
				<th class="text-center">Validation</th>
				<th class="text-center">Action</th>
			</thead>
				<% dosages.each do |dosage| %>
					<tr>
						<td class="col-lg-1 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer+" vg/ml" %></td>
						<td class="col-lg-1 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer_atcc.to_s+" vg/ml" %></td>
						<td class="col-lg-1 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer_to_atcc.to_s+" vg/ml" %></td>
						<td class="col-lg-1 text-center"><%= dosage.user.nil? ? "No data" : dosage.user.short_name %></td>
						<td class="col-lg-1 text-center"><small><%= dosage.date.nil? ? "No data" : dosage.date.strftime("%b %e, %Y") %></small></td>
						<td class="col-lg-1 text-center"><small><%= dosage.inactivation.nil? ? "No data" : dosage.inactivation.strftime("%b %e, %Y") %></small></td>
						<td class="col-lg-1 text-center"><small><%= dosage.inactivation_atcc.nil? ? "No data" : dosage.inactivation_atcc.strftime("%b %e, %Y") %></small></td>
						<td class="col-lg-1 text-center"><small><%= dosage.inactivation_standard.nil? ? "No data" : dosage.inactivation_standard.strftime("%b %e, %Y") %></small></td>
						<td class="col-lg-1 text-center"><% if dosage.accepted?%>
															<i class="fa_icon fa fa-check text-success"></i>
														<%else%>
															<i class="fa_icon fa fa-check text-danger"></i>
														<%end%>
						</td>
						<td class="col-lg-1 text-center">
						<%= link_to "<i class='fas fa-pen-square'></i>".html_safe, edit_virus_production_dosage_path(@virus_production, dosage), method: :get %>
						<%=link_to "<i class='fa fa-trash'></i>".html_safe,  virus_production_dosage_path(@virus_production, dosage), method: :delete, title: "Destroy", data: {confirm: "Are you sure ?"}%>
							</td>
					</tr>
				<%end%>
				
</table>
</div>
<%else%>
No titer.
<%end%>

