	<% vbl = @virus_batches.length %>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row" >
						<div class="col-lg-12">
							<strong><%= vbl > 1 ?  "Virus batches:" : "Virus batch:" %></strong><br />
							
							
							<table>
								<tr>
									<% @virus_batches.order(:id).each_with_index do |b, index|%>
									<td>
										<a tabindex="0" data-toggle="popover" data-trigger="focus" data-html = "true"
											title='
												<div class="row"> 
													<div class="col-lg-4 text-left">
														<strong><%=b.name%></strong>
													</div>
													<div class="col-lg-8 right">
														<%unless b.trash%>
															<%= link_to "Edit", edit_from_inventory_virus_production_virus_batch_path(@virus_production, b), :class =>"btn btn-primary btn-xs font80pc", :remote => true %>
															<%= link_to "Remove", destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b), :class =>"btn btn-danger btn-xs font80pc", :title=>"Remove clone from list.", :remote => true %>
														<%else%>
															<%= link_to "Rescue",destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b), :class =>"btn btn-warning btn-xs font80pc", :title=>"Remove clone from list.", :remote => true %>
														<%end%>	
													</div>	
												</div>'
											data-content='
												<div class="col-lg-12 text-left">
													<small>
													<strong>Barcode: </strong><%= b.barcode.nil? ? "unknown" : b.barcode %><br />
													<strong>Date of prod.: </strong><%= b.virus_production.date_of_production.nil? ?  "unknown" : b.virus_production.date_of_production.strftime("%h %e, %Y ") %><br />
													<strong>Date of thaw.: </strong><%= b.date_of_thawing.nil? ?  "unknown" : b.date_of_thawing.strftime("%h %e, %Y ") %><br />
													<strong>Volume: </strong><%= b.volume.nil? ? "unknown" : b.volume %> <%= b.vol_unit_id.blank? ? "" : b.vol_unit.name %><br />
													<strong>Box: </strong><%= b.box.nil? ? "unknown" : b.box.name %> <br />
													<% if !b.comment.blank? %>
														<strong>Comments: </strong><br /><%= b.comment || "No comment" %><br />
													<%end%>
													</small>
												</div>
											'
										>
												<div class="col-lg-2 center">
													<img src= <%=b.set_tube_status %> alt="not-empty" /><p class="font12"><strong><%= b.name %></strong></p>
												</div>
										</a>	
									</td>
									<% if index == 12 %>
										</tr>
									<%end%>
								<%end%>
							</table>
						</div><!--End of col-lg-3-->
						<div class="row">
							<div class="col-lg-11 right">
									<%= link_to "Add virus batch", new_from_inventory_new_virus_production_virus_batch_path( :virus_production_id => @virus_production.id ), :class =>"btn btn-default btn-sm", :remote => true %>
							</div><!--End of Btn_col-->
						</div><!--End of row-->
					
					</div><!--End pf row-->
				</div><!--End of panel body-->
			</div><!--End of panel-->

