			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><%= "Virus batch".pluralize(@virus_batches.length) %></strong>
				</div>
			<div class="panel-body" >
				<div class="row" >
					<div class="col-lg-12">
						<table>
							<% @arr.each do |elt|%>
								<tr>
									<% elt.each do |b|%>
									<td>
										<div class="col-lg-12 col-md-12 col-sm-12 draggableContainer">
											<a tabindex="0" data-toggle="popover" data-trigger="focus" data-html = "true"
												title='
													<div class="row"> 
														<div class="col-lg-4 text-left">
															<strong><%=b.name%></strong>
														</div>
														<div class="col-lg-8 right">
															<%unless b.trash%>
																<%= link_to "Edit", edit_from_inventory_virus_production_virus_batch_path(@virus_production, b), :class =>"btn btn-primary btn-xs font80pc", :remote => true %>
																<%= link_to "Remove", destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b.id), :class =>"btn btn-danger btn-xs font80pc", :title=>"Remove clone from list.", :remote => true %>
															<%else%>
																<%= link_to "Rescue", destroy_from_inventory_virus_production_virus_batch_path(@virus_production, b.id), :class =>"btn btn-warning btn-xs font80pc", :title=>"Remove clone from list.", :remote => true %>
															<%end%>	
														</div>	
													</div>'
												data-content='
													<div class="col-lg-12 text-left">
														<small>
														<strong>Barcode: </strong><%= b.barcode.nil? ? "unknown" : b.barcode %><br />
														<strong>Date of prod.: </strong><%= b.virus_production.date_of_production.nil? ?  "unknown" : b.virus_production.date_of_production.strftime("%h %e, %Y ") %><br />
														<strong>Date of thaw.: </strong><%= b.date_of_thawing.nil? ?  "unknown" : b.date_of_thawing.strftime("%h %e, %Y ") %><br />
														<strong>Volume: </strong><%= b.volume.nil? ? "unknown" : b.volume %> <%= b.vol_unit_id.blank? ? "" : b.vol_unit.name %><br />
														<strong>Box: </strong><%= b.position.nil? ? "unknown" : b.position.box.name %> <br />
														<strong>Slot: </strong><%= b.position.nil? ? "None" : b.position.name.upcase() %> <br />
														<% if !b.comment.blank? %>
															<strong>Comments: </strong><br /><%= b.comment || "No comment" %><br />
														<%end%>
														</small>
													</div>
												'
											>
													<div class="col-lg-2 center draggable" data-id="<%=b.id %>">
															<img src= <%=b.set_tube_status %> alt="not-empty"/><div class="font12 <%= set_color_from_position(b)%>"><strong><%= b.name %></strong></div>
													</div>
											</a>	
											</div>
									</td>
								<%end%>
								</tr>
								<%end%>
							</table>
						</div><!--End of col-lg-3-->
					</div><!--End pf row-->
				</div><!--End of panel body-->
			</div><!--End of panel-->

