<%= search_form_for @q, :url =>clone_batches_path, :class=>"form-horizontal", :remote => true do |f| %>
<small>	
		<div class="row">
			<div class="col-lg-12">
				<h3><i class="fa_icon fa fa-search"></i> Plasmid Inventory</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= f.search_field :recap_or_name_or_temp_name_has_any_term, class: "col-lg-12 col-md-12 col-sm-12", placeholder: "Search any terms."%>
			</div>
		</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	
  <div class="panel panel-default">
  	
    <div class="panel-heading" role="tab" id="heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">
        Fine search
        <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
      </h4>
    </div>
    
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
      	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
						<%= f.label "Number*" %>
						<%= f.search_field :number_has_any_term, :class=>"col-lg-12" %>
			</div>
			<div class="col-lg-6">	
					<%= f.label "Name*" %>
					<%= f.search_field :name_cont, :class=>"col-lg-12" %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">
						<%= f.label "Start date " %>
						<%= f.search_field :created_at_gteq, value: @created_at_date_gteq_with_proper_format, 'data-behaviour' => 'datepicker', :input_html => {:class => "col-lg-12"} %>
			</div>
			<div class="col-lg-2">
					<%= f.label "End date " %>
					<%= f.search_field :created_at_lteq, value: @created_at_date_lteq_with_proper_format, 'data-behaviour' => 'datepicker', :input_html => {:class => "col-lg-12"} %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					<%= f.label "Clone name*"%>
				  	<%= f.search_field :clone_name_cont, :class=>"col-lg-12" %>
			</div>
			<div class="col-lg-6">
					<%= f.label "Plasmid name*" %>
				  	<%= f.search_field :plasmid_batches_name_cont, :class=>"col-lg-12" %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					<%= f.label "Promoter*"%>
				  	<%= f.select(:promoters_id_eq, @promoters_all, {:include_blank => " "}, {:class => "select2-select col-lg-6"}) %>
			</div>
			<div class="col-lg-6">
					<%= f.label "Gene*" %>
				  	<%= f.select(:genes_id_eq, @genes_all, {:include_blank => " "}, {:class => "select2-select col-lg-6"}) %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
					<%= f.label "Type" %>
					<%= f.select(:type_id_eq, @types_all,{:include_blank => " "}, {:class => "select2-select col-lg-12"}) %>
			</div>
			<div class="col-lg-4">
				<%= f.label "Target" %>
				<%= f.select(:target_id_eq, @targets_all,{:include_blank => " "}, {:class => "select2-select col-lg-12"}) %>
			</div>
			<div class="col-lg-4">
				<%= f.label "Origin" %>
				<%= f.select(:origin_id_eq, @origins_all,{:include_blank => " "}, {:class => "select2-select col-lg-12"}) %>
			</div>
		</div>
				
		<div class="row">
			<div class="col-lg-2">
					<%= f.label "Glycerol stock box#*"%>
				  	<%= f.search_field :glyc_stock_box_as_plasmid_cont, :class=>"col-lg-12" %>
			</div>
			<div class="col-lg-10">
		 			<%= f.label "Comment*" %>
				  	<%= f.search_field :comment_as_plasmid_cont, :class=>"col-lg-12" %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
		 			<span class="help-block"><em>*Enter all or part of the value.</em></span>
		 	</div>
		</div>
</div>
</div>
</div>
</div>
</div>
		<div class="row">	
			<div class="form-group pull-right">
					<%= f.submit class:"cancel-button btn btn-default" %>
					<%= link_to "Clear Search", clone_batches_path, class:"cancel-button btn btn-default" %>
			</div>
		</div>
</small>	
<%end%>