<%= simple_nested_form_for ([@assay, @clone, @clone_batch]), remote: true, html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
	<div class="container">
	<small>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.input :name, :label => "Name: ", :input_html => { :value => f.object.name || @clone.name } %>
							<span><em>Set to blank to reset final name.</em></span><br />
					       	<strong>Temporary name: </strong><%= f.object.temp_name %><br />
					       	<strong>Notes: </strong><%= f.object.comment.presence || 'no comment' %><br />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2">
					     <%if f.object.name.nil?%>
					     	<% unless CloneBatch.last.nil?%>
						     	<% n = CloneBatch.maximum("nb")+1 %>
					     	<%else%>
					     		<% n = 1 %>
					     	<%end%>
					     	<%= f.input :nb, :input_html => { :value => n }, :readonly => true%>
							<%= f.input :nb, :input_html => { :value => n }, :as => :hidden %>
							<%= f.input :number, :input_html => { :value => n.to_s }, :as => :hidden %>
					     <%else%>
					     	<strong>Number: </strong><%=f.object.nb%>
					     <%end%>
				</div>
			</div>
		</div>
		
 		<div class="btn-group" role="group" aria-label="...">
    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save the changes to this clone.") %>
        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </div>
<%end%>


