
<%= simple_nested_form_for @clone_batch, html: { class: 'form-vertical' } do |f|  %>
	
	<%= f.error_notification %>
	<ul class="errors"></ul>
	<small>
		<%= f.input :id, :label =>"id", :as => :hidden %>
		<div class="row">
			<div class="col-xs-5 ">
				<%= f.input :name%>
			</div>
			<% unless f.object.clone.nil? %>
			<div class="col-xs-5">
					<%= f.input :temp_name, :label => "Temporary name", :readonly => true %>
			</div>
			<%end%>
			<div class="col-xs-2">
							<% unless CloneBatch.last.nil?%>
						     	<% n = CloneBatch.maximum("nb")+1 %>
					     	<%else%>
					     		<% n = 1 %>
					     	<%end%>
				<%= f.input :nb, label: "Number", :input_html => { :value => n }, :readonly => true%>
				<%= f.input :nb, :input_html => { :value => n }, :as => :hidden %>
				<%= f.input :number, :input_html => { :value => n.to_s }, :as => :hidden %>
			</div>
		</div>
		<div class="row">
				<%= f.input :clone_id, :as => :hidden%>
			<div class = "col-xs-2">
				<%=f.association :strand, :collection => Strand.all, :placeholder => "Select strand.", input_html: { class: 'select2-select' }%>
			</div>
			<div class = "col-xs-2">
				<%=f.input :date_as_plasmid, :label => "Date", :as => :string, :input_html => { :value => (f.object.date_as_plasmid.strftime("%B %e, %Y") if f.object.date_as_plasmid), "data-behaviour" => "datepicker" } %>
			</div>
			<div class = "col-xs-3">
			 	<%=f.association :origin, :collection => Origin.all.order(:name), :placeholder => "Select origin.", input_html: { class: 'select2-select' }, :multisearch => true%>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<%=f.input :glyc_stock_box_as_plasmid, :label => "Stock Glycerol box #" %>
			</div>
			<div class = "col-xs-2">
			 	<%=f.association :type, :label => "Type", :collection => Type.all, input_html: { class: 'select2-select' }%>
			</div>
			<div class = "col-xs-2">
			 	<%=f.association :target, :label => "Target", :collection => Target.all, input_html: { class: 'select2-select' }%>
			</div>
		</div>
		<!--Add Promoter(s) & gene(s)-->
		<div class= "row">
			<div class="col-xs-3">
				<%=f.association :promoters, :label => "Promoter", :collection => Promoter.all, input_html: { class: 'select2-select'} %>
			</div>
			<div class="col-xs-4">
				<%=f.association :genes, :label => "Gene", :collection => Gene.all, input_html: { class: 'select2-select'} %>	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<%=f.input :comment_as_plasmid, :label => "Comment" %>
			</div>
		</div>
		<div class="row"> 
			<div class="col-xs-7">
			<div class="panel panel-default">
				<div class="panel-heading">Files : </div>
				<div class="panel-body">
				
				<div id="file_container">
					<%= f.simple_fields_for :clone_batch_as_plasmid_attachments do |a| %>
						<div class="row">
							<div class="col-xs-11">
								<%if a.object.attachment.present?%>
										<%= link_to File.basename(a.object.attachment.path), a.object.attachment.to_s , :target => "_blank"%><br />
								<%else%>
									<%= File.basename(a.object.attachment.to_s)%>
							       	<%= a.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
								<%end%>
							</div>
							<div class="col-lg-1 vcenter">
								<%= a.link_to_remove "x" %>
							</div>
						</div>
					<% end %>
							<%= f.link_to_add "Add a file", :clone_batch_as_plasmid_attachments, :class => "btn btn-xs btn-default" %>
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-lg-2">
				<%=f.input :dismissed, collection: CloneBatch.statuses, input_html: { class: 'select2-select'}, selected: 0%>
			</div>
		</div>
		
	</small>
	<div class="row">
	 		<div class="btn-group" role="group" aria-label="...">
	 			<div class="col-lg-4">
	    			<%= f.submit "Save", :class => "btn btn-primary" %>
	    		</div>
	    		<div class="col-lg-4">
	        		<%= link_to "Cancel", :clone_batches, :class => "btn btn-default"%>
	        	</div>
	        </div>
	 </div>
	</div>
<%end%>



