<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @clones.each_with_index do |clone, index| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%=index.to_s%>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index.to_s%>" aria-expanded="true" aria-controls="collapse<%=index.to_s%>">
          <%=clone.name%>
        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
      </h4>
    </div>
    <div id="collapse<%=index.to_s%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%=index.to_s%>">
      <div class="panel-body">
		  <%= content_tag "div", id: "clone_data", data:{clone_data: clone} do %><%end%>
  			<%= content_tag "div", id: "clone_data_id", data:{clone_data_id: clone.id} do %><%end%>
			<small>
				<div id="info-container<%=clone.id%>" class="col-md-12">
					<%= render :partial => "clone_batches/components/plasmid_table", :locals => {:clone => clone, :clone_id => clone.id, :clones => @clones, :assay => @assay, :cb_collection => @cb_collection} %>
				</div>
				
				</small>
						
					<div id='plasmid' class='SeqViewerApp'>
						<a href='?embedded=true&id=…'><a>
					</div>
				</div>
			</div>
		</div>
<%end%>
</div>
