<%= simple_nested_form_for ([@assay, @clone, @clone_batch, @plasmid_batch_qc]), :url => create_qc_protocol_collection_assay_clone_clone_batch_plasmid_batch_qcs_path, remote: true, html: {class: 'vertical-form'} do |f|  %>
 <%= f.error_notification %>
  <ul class="errors"></ul>
	<div class="container">
  <small>
 
		<div class="row" id = "date-container">
			<%= f.input :id, :as => :hidden %>
			<%= f.input :plasmid_batch_id, :as => :hidden %>	 	
			 <div class="col-lg-2">
				<%= f.input :date_send, :label => "Sending date:", :as => :string, :input_html => { :value => (f.object.date_send.strftime("%B %e, %Y") if f.object.date_send), "data-behaviour" => "datepicker" } %>
			</div>
		</div>
		<div class="row">
			<% type_name = @clone_batch.type.name %>
				<% unless @clone_batch.type_id === 2 %>
				<div class="col-lg-3">
						<%= f.input :sma1, :label => "SMA1", input_html: { :value => f.object.sma1 || "Not applicable ("+type_name+")" }, :disabled => true %>
						<%= f.input :sma1, :label => "SMA1", input_html: { :value => f.object.sma1 || "Not applicable ("+type_name+")" }, :as => :hidden %>
				</div>
				<div class="col-lg-2">
						<%= f.input :dig_other, :label => "Other: " %>
				</div>
				<%else%>
				<div class="col-lg-2">
						<%=f.input :sma1, :label => "SMA1", :collection => ["Yes", "No","Not applicable"], :placeholder => "Select", input_html: { class: 'select2-select' }%>
				</div>
				<%end%>
			</div>
	<div class ="row" id="contacts">
							<div class="col-lg-5">
								   <%= f.association :user, :label => "Contact name",
										:collection => @users, :label_method => :full_name, :value_method => :id,
										:input_html => { class:"select2-select" } %>
							</div>
			</div>
	<div class="row" id="comment">
		<div class="col-lg-5">
			<%= f.input :comments, :label => "Comment:" %>
		</div>
	</div>
	<div class="row" id="files">
		<div class="col-lg-5">
			<%= f.simple_fields_for :qc_attachments do |a| %>
								<div class="row">
									<%if a.object.attachment.present?%>	
										<%= link_to File.basename(a.object.attachment.path), a.object.attachment.to_s, :target => "_blank" %>
									<%end%>	
										<% if a.object.id.nil? %>
											<div class="col-xs-4">
									       		<%= a.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
								       		</div>
								       	<%end%>
								 </div>
								 <div class="row">
								       	<div class="col-xs-2">
								       		<%= a.link_to_remove "remove", :class => "btn btn-xs btn-danger"%>
								       	</div>
						       	</div>
			<% end %>
		</div>
	</div>
		<div class="row" id"add-file">
			<div class="col-lg-2">
				<%= f.link_to_add "Add a file", :qc_attachments ,:class => 'btn btn-sm btn-success' %>
			</div>
		</div>
</small>
 		<div class="btn-group" role="group" aria-label="...">
    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save the changes to this clone.") %>
        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </div>
<% end %>
