<% if b.plasmid_batch_qcs.empty? %>
	<div class="center">
	<em>Add Quality Control</em>
	</div>
<%else%>
	<table class="table table-bordered">
		<thead>
			<th>QC</th>
			<th>Result</th>
		</thead>
			<% b.plasmid_batch_qcs.order(:created_at).each_with_index do |qc, index|%>
				<tr>
						<td>
							<a tabindex="0" data-toggle="popover" data-trigger="focus"
						title=
						'
						<div class="row"> 
							<div class="col-lg-12 text-left">
									QC: <%= qc.sma1 == "yes"? "Sma1":qc.dig_other %><%=qc.created_at.strftime("%h %e, %Y ")%>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
									<div class="btn-group" role="group" aria-label="Edit">								
										<%= link_to "Edit", edit_assay_clone_clone_batch_plasmid_batch_plasmid_batch_qc_path(:assay_id => @assay.id, :clone_id => clone.id, :clone_batch_id => cb.id, :plasmid_batch_id => b.id, :id => qc), :class =>"btn btn-primary btn-xs font80pc", :remote => true, :disabled => @assay.locked %>
									</div>
									<% unless qc.conclusion %>
										<div class="btn-group" role="group" aria-label="Validate">
											<%= link_to "Validate", set_qc_validation_assay_clone_clone_batch_plasmid_batch_qc_path( @assay, clone, cb,  qc), :class =>"btn btn-success btn-xs font80pc", :remote => true, :disabled => @assay.locked %>
										</div>
									<%else%>
										<div class="btn-group" role="group" aria-label="Unvalidate">
											<%= link_to "Unvalidate", set_qc_unvalidation_assay_clone_clone_batch_plasmid_batch_qc_path( @assay, clone, cb,  qc), :class =>"btn btn-info btn-xs font80pc", :remote => true, :readonly=>@assay.locked %>
										</div>
									<%end%>
										<div class="btn-group" role="group" aria-label="Remove">
											<%= link_to "Remove", [b,qc,:assay_id => @assay.id, :clone_id => clone.id, :clone_id => clone.id, :clone_batch_id => cb.id], :method => :delete, :class =>"btn btn-danger btn-xs font80pc", :title=>"Remove qc from list.", :remote => true, :disabled=>@assay.locked %>
										</div>
							</div>
						</div>
						'
						
						data-content='
						<small>
							<div class="col-md-12 text-left">
								<div><strong>Dig. SMA1: </strong><%=qc.sma1%> <em>(<%=cb.type.name = "Transgene"? "Transgene":cb.type.name %>)</em></div>
								<div><strong>Dig. other: </strong><%= qc.dig_other.presence ? qc.dig_other : "no data"%></div>
								<div><strong>Contact:</strong> <%= qc.user.nil? ? "none" : qc.user.firstname %> <%=qc.user.nil? ? "" : qc.user.lastname %> </div>
								<% if !qc.comments.blank? %>
									<strong>Comments: </strong><br /><%=qc.comments%><br />
								<%end%>
								<% if qc.qc_attachments.length>0 %>
									<strong>Attached files: </strong><br />
										<% qc.qc_attachments.each do |a|%>
											<%= link_to File.basename(a.attachment.path), a.attachment.to_s, :target => "_blank" %><br />
										<%end%>
								<%end%>
							</div>
						</small>
						'
						<% other = qc.dig_other.blank? ? "Unknown":qc.dig_other  %>
						<% tech_name = qc.sma1 == 'Yes'? "sma1":other  %>
						<% base_name = "#{index+1}-#{tech_name}-#{qc.created_at.strftime("%h %e, %Y ")}" %>
						
						<% if qc.conclusion == true %>
								<span class="font-success"><i class="glyphicon glyphicon-map-marker"></i>
									<%= "#{base_name}" %> </span>
						<%else%>
								<span class="font-grey"><i class="glyphicon glyphicon-map-marker"></i>
									<%= "#{base_name}" %>  </span>
						<%end%>
					</a><br />
			</td>
			<td>
				<% if qc.conclusion == true %>
						<span class="font-success">Validated</span>
				<%else%>
						<span class="font-warning">Pending</span>
				<%end%>
			</td>
			<%end%>
			</tr>
			</div>
	</table>
												
												<%end%>
