<td class="center"><%= object.id %></td>
<td class="center"><small><%= cb_display(object.clone_batches) %></small></td> 
<td class="center"><%= formatProdStatus(object.last_step)[:step_name] %></td>
<td class="center"><%= object.created_at.strftime("%B %e, %Y") %></td>
<td class="center"><% if object.locked? %><span class="glyphicon glyphicon-lock"><%else%><span class="glyphicon glyphicon-minus"><%end%></td>
<td class="actions center">
	  <%= smart_listing_item_actions [
	  { name:   :custom, 
  		url:  edit_production_path(:id => object.id),
  		method: :get, 
  		icon: "glyphicon glyphicon-eye-open",
  		remote: false, 
  		title:  "Edit production"
  		}]%>
</td>