<% if @assays.empty?%>
			<p>No cloning to display!</p>
<%else%>
<table class="table table-bordered table-hover" id="sortable">
  <thead>
    <tr>
      <th class="center"  style="width: 50%;">
        Construction
      </th>
       <th class="center" style="width: 30%;">
        Step
      </th>
      <th class="center" style="width: 20%;">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @assays.each do |assay| %>
      <tr data-item-id=<%= assay.id %> class="item">
        <td class="text-left">
          <strong>
			  <% unless assay.clones.empty? %>
			    <% assay.clones.order(:id).each do |c|%>
			    <span class="text-primary"><%= c.id%></span> | <%= c.name%><br />
			    	<%end%>
			  <%else%>
			    "Add a construction !"
			  <%end%>
			  </strong>
          
        </td>
         <td class="center" >
          <%= link_to formatStep(assay.last_step, assay.id)[:step_name], formatStep(assay.last_step, assay.id)[:step_path] %>
        </td>
        <td class="center">
          <% if can? :delete, @assay %>
          <%= link_to p, :method => :delete, data: {confirm: "Are you sure you want to delete this cloning ?"} do %>
              <i class="fa fas-trash"></i>
        <% end %>
        <%else%>
       <p style="font-size: 0.8em;">No action available</p>
       <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

