<small>
	<table class="table table-bordered " id="assay-table">
				<thead>
					<th class="center" style="width: 5%;">#</th>
					<th class="center" style="width: 40%;">Name</th>
					<th class="center" style="width: 10%;">Date</th>
					<th class="center" style="width: 10%;">Step</th>
					<th class="center" style="width: 15%;">Project</th>
					<th class="center" style="width: 20%;">Actions</th>
				</thead>
					<% @assays.each do |assay| %>
						<tr>
							<td class="col-lg-2 center"><%= assay.id %></td>
							<td class="col-lg-2"><%= clone_display(assay.clones) %></td>
							<td class="col-lg-2"><%= assay.created_at.strftime("%b %e, %y") %></td>
							<td class="col-lg-3"><%= stepToString(assay.last_step)%></td>
							<td class="col-lg-3">
								<% assay.clones.each do |c| %>
									<%= display_collection(c.projects) %>
								<%end%>
							</td>
							
							<td class="center">
							<%if can? :update, Assay%>
								<%= link_to clone_design_assay_path(assay) do %>
				    				<i class="fas fa-pen-square"></i>
				    			<%end%>
				    		<%else%>
				    		<p style="font-size: 1em;">No action available</p>
				    		<%end%>
				    			</td>
						</tr>
					<% end %>
	</table>
</small>