<small>
		<div class="col-md-2">
				<strong>Clone name: </strong><%= clone.name %><br />
				<strong>Clone#: </strong><%= clone.id %><br />
				<strong>Backbone nb:</strong> <%= clone.bbnb%><br />
									<strong>Primer ins.fwd:</strong> <%= clone.primerinsfor.name%><br />
									<strong>Primer ins.rev:</strong> <%= clone.primerinsrev.name%><br />
		</div>
		<div class="col-md-6 text-justify">		
				<strong>Comments:</strong>
									<%= clone.comment.presence || 'no comment' %><br />
		</div>
		<div class="col-md-3">
				<strong>Total batches: </strong>
									<%= clone.batch_nb.presence || 'none' %><br />
				<strong>Notes: </strong>
									<%= clone.comment_batch.presence || 'none'%><br />
									<% if clone.clone_attachments.empty? %>
										<strong>Attached files: </strong>none<br />
									<% else %>
									<strong>Attached files: </strong><br />	
										<% clone.clone_attachments.each do |clone_attachment|%>
												<%= link_to File.basename(clone_attachment.attachment.path ), clone_attachment.attachment.to_s, :target => "_blank" %><br />
									<%end%>
									<%end%>
		</div>
		</small>
			<% if !clone.clone_batches.empty? %>
	<div id= "clone_batch_qc_table_container" class="col-md-12">
		<%= render :partial => "assays/components/clone_batch_qc_table_light", :locals => { :clone => clone, :assay => @assay }%>
	</div>
	<%end%>