<%= simple_form_for(@pbox) do |f| %>
  <%= f.error_notification %>
   <ul>
    <% @pbox.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :barcode %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
