<%= render 'components/prod_process_pills' %>
	<div class="panel panel-info">
			<div class="panel-heading"><strong>Editing Prod.-<%=@production.id%> <%= "| Virus-#{@production.virus_productions.last.number}" unless @production.virus_productions.empty? %></strong>
				<br />Name : <%= @production.name %>
			</div>
		<%= content_tag "div", id: "production_data_id", data:{production_data_id: @production.id.to_i} do %><%end%>
		<div class="panel-body">
				<div id="cb-container">
					<%unless @production.last_step == 3 %>
						<%= render :partial => "productions/components/table", :locals => { :production => @production }%>
				<div class="row">
					<div class="col-lg-12" id="pool-container">
							<%= render :partial => "productions/components/pool", :locals => { :production => @production }%>						
					</div>
				</div>
					<%else%>
						<%= render :partial => "productions/components/table_frozen", :locals => { :production => @production }%>	
					<%end%>
				</div>
		</div>
		<div class="panel-footer">
		    <div class="btn-group" role="group" aria-label="...">
		    		<%= link_to 'Previous', edit_production_path(@production.id), :class => "btn btn-default btn-sm" %>
				<% unless @production.clone_batches.empty? || @production.last_step == 3 %>
					<%= link_to 'Add/Modify Plasmids', select_pbs_production_path(@production), :remote => true, :class => "btn btn-default btn-sm" %>
		  		<%end%>	
		  			<%= link_to 'Next', virus_production_production_path, :class => "btn btn-default btn-sm" %>
		  	</div>
	  	</div>
	</div>