<%= render 'components/prod_process_pills' %>
	<div class="panel panel-info">
			<div class="panel-heading"><strong>Editing Prod.-<%=@production.id%> <%= "| Virus-#{@production.virus_productions.last.number}" unless @production.virus_productions.empty? %></strong>
				<br />Name : <%= @production.name %>
			</div>
		<%= content_tag "div", id: "production_data_id", data:{production_data_id: @production.id.to_i} do %><%end%>
		<div class="panel-body">
				<div id="cb-container">
					<%unless @production.last_step == 3 %>
					<div class="row">
						<div class="col-xs-12">
							<%= render :partial => "productions/components/table", :locals => { :production => @production }%>
						</div>
					</div>
				<div class="row top10">
					<div class="col-xs-12">
						<div class="pull-right" id="pool-container">
								<%= render :partial => "productions/components/pool", :locals => { :production => @production }%>						
						</div>
					</div>
				</div>
					<%else%>
					<div class="row">
						<div class="col-xs-12">
						<%= render :partial => "productions/components/table_frozen", :locals => { :production => @production }%>
					</div>
				</div>
					<%end%>
				</div>
		</div>
		<div class="panel-footer">
		    <div class="btn-group" role="group" aria-label="...">
		    	<%= link_to 'Previous', edit_production_path(@production.id), :class => "btn btn-default " %>
				<% unless @production.clone_batches.empty? || @production.last_step > 1 %>
					<%button_label =  @production.plasmid_batches.empty? ? "Add" : "Modifify"%>
						<%= link_to "<i class='fas fa-dna'></i> ".html_safe+ button_label +' set', select_pbs_production_path(@production), :class => "btn btn-primary" %>
		  		<%end%>	
		  			<%= link_to 'Next', virus_production_production_path, :class => "btn btn-default" %>
		  	</div>
	  	</div>
	</div>