<%= render 'components/prod_process_pills'%>
	<div class="panel panel-info">
			<div class="panel-heading"><strong>Editing Prod.-<%=@production.id%> <%= "| Virus-#{@production.virus_productions.last.number}" unless @production.virus_productions.empty? %></strong>
				<br />Name : <%= @production.name %>
			</div>
		<%= content_tag "div", id: "production_data_id", data:{production_data_id: @production.id.to_i} do %><%end%>
		
		<div class="panel-body">
		<div class="row">
			<div class="col-lg-12"><h4>Plasmids</h4></div>
		</div>
		<div class="row">
				<div  id="cb-container" class="col-lg-12">
							<%= render :partial => "productions/components/table_lock" , :locals => { :collection => @production.plasmid_batches }%>
				</div>
		</div>
		<div class="row">
			<div class="col-lg-12"><h4>Virus</h4></div>
		</div>
		<div class="row">
				<div id="vp-container" class="col-lg-12">
						<%= render :partial => "productions/components/table_vp" , :locals => { :collection => @vps }%>
				</div>
		</div>
			<div id="add-button-container">
				<%unless @production.last_step == 3 %>
						<%= render :partial => "productions/components/add_vp_button" , :locals => { :vps => @vps }%>
				<%end%>
			</div>
		</div>
		<div class="panel-footer">
		    <div class="btn-group" role="group" aria-label="...">
		    	<% btn_name = @production.last_step < 3 ? "Close" : "Push"%>
				<%= link_to 'Previous', add_plasmid_production_path, :class => "btn btn-default btn-sm" %>
				<%= link_to btn_name, close_production_path, :class => "btn btn-default btn-sm" %>
					
		  	</div>
	  	</div>

</div>
