<%= simple_form_for(@box) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :barcode %>
  </div>
    <div class="form-inputs">
    	<% if @box.persisted? %>
    		<%= f.association :box_type, label_method: :name, disabled: true %>
    		<%= f.association :box_type, label_method: :name, as: :hidden %>
    	<%else%>
    		<%= f.association :box_type, :collection=>BoxType.all, :input_html => {class: "select2-select"}  %>
    	<%end%>
  </div>
    <div class="form-inputs">
    <%= f.association :shelf,
    							:collection=>Shelf.all,
    							:label_method => lambda { |shelf| "#{shelf.container.name} | #{shelf.name}"},
							:value_method => :id,
							:input_html => {class: "select2-select"}%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
