<div id class="col-lg-4 col-md-4 col-sm-4">
	<h4>Boxes</h4>
	<% unless @boxes.empty?%>
<table>
	<thead>
        <tr>
            <th><%= sort_link(@q, :id, 'Name') %></th>
            <th><%= sort_link(@q, :barcode) %></th>
        </tr>
    </thead>
    <tbody>
    		<%@boxes.each do |b|%>
    		<tr>
    			<td class="col-lg-9 col-md-9 col-sm-9">
    				<small><%=link_to b.name, fetch_virus_batches_box_path(b.id), :remote => true %></small>
    			</td>
    			 <td class="col-lg-3 col-md-3 col-sm-3">
    				<small><%=b.barcode%></small>
    			</td>
		</tr>
		<%end%>
    </tbody>
</table>
<%= paginate @boxes %>
<%else%>
	<span>No box to display</span>
<%end%>
</div>
