<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey |subme|! The cloning # <%=@assay.id%> is closed! </h3>
    <table>
	<tr><th>Cloning<th></tr>
    	<tr>
    		<th style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: center;">Cloning ID</th>
    		<td style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: right;"><%= @assay.id%></td>
    	</tr>
    	<tr>
    		<th style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: center;">Clone</th>
    		<td style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: right;"><%= @assay.clones.map{|clone| clone.name}.to_sentence %></td>
	</tr>
	<tr>
	<th style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: center;">Date of order</th>
    		<td style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: right;">
    			<%= @assay.created_at.strftime("%B %e, %Y") %>		
    		</td>
    	</tr>
 </table>
 <table>
    	<tr><th>Plasmids</th></tr>
    	<tr>
    		<th style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: center;">Number</th>
    		<th style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: center;">Name</th>
    	</tr>
    	<% @assay.clone_batches.where.not(name: nil).each do |plasmid| %>
    	<tr>
    		<td style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: right;"><%=plasmid.nb%></td>
    		<td style="border: 1px solid black; border-collapse: collapse; padding: 15px;text-align: right;"><%=plasmid.name %></td>
    	</tr>
    	<%end%>
    </table>
  </body>
</html>