<% unless smart_listing.empty? %>
  <table class="table table-striped">
    <thead>
     <th class="col-lg-1 center">
      	<%= smart_listing.sortable "ID", :id %>
  	</th>
      <th class="col-lg-2 center">
        <%= smart_listing.sortable "Name", :name %>
    </th>
    <th class="col-lg-1 center">
        <%= smart_listing.sortable "Cloning Method", :cmeth %>
    </th>
     <th class="col-lg-3 center">
        <%= smart_listing.sortable "Inserts", :inserts %>
    </th>
      <th class="col-lg-3 center">
        <%= smart_listing.sortable "Backbones", :backbones %>
    </th>
    </thead>
    <tbody>
	  	<% smart_listing.collection.each do |s| %>
      		<tr class="editable" data-id = "<%= s.id %>">
          		<%= smart_listing.render object: s, partial: "clones/smart_listing/clone", locals: {object: s} %>
        	</tr>
      	<% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p>No records!</p>
<% end %>
