<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<% @clones.each_with_index do |clone, index| %>

	<div id="info-container<%=clone.id%>">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="heading<%=index.to_s%>">
      			<h4 class="panel-title">
        			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index.to_s%>" aria-expanded="true" aria-controls="collapse<%=index.to_s%>">
         				 <%=clone.name%>
        			<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
      			</h4>
    		</div>
    		
    <div id="collapse<%=index.to_s%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%=index.to_s%>">
    <small> 
    <div class="panel-body">
	<div class="row">
		
			<div class="col-lg-5">
				<strong>Clone name: </strong><%= clone.name %><br />
				<strong>Clone#: </strong><%= clone.id %><br />
				<strong>Backbone: </strong><%= clone.backbones.empty? ? "No data" : clone.backbones.map { |backbone| "#{backbone.number} (#{backbone.name})" }.to_sentence %><br />
				<strong>Insert: </strong><%= clone.inserts.empty? ? "No data" : clone.inserts.map { |insert| "#{insert.number} (#{insert.name})" }.to_sentence %><br />
				<strong>Primer ins.fwd:</strong> <%= clone.primerinsfor%><br />
				<strong>Primer ins.rev:</strong> <%= clone.primerinsrev%><br />
				<strong>Enzymes: </strong><%= clone.enzymes.empty? ? "No data" : clone.enzymes.map { |enzyme| enzyme.name }.to_sentence %>
			</div>
		
			<div class="col-lg-4 text-justify">		
				<strong>Comments:</strong>
									<%= clone.comment.presence || 'no comment' %><br />
			</div>
			<div class="col-lg-3">
				<strong>Total number of batches: </strong>
									<%= clone.batch_nb.presence || 'none' %><br />
				<strong>Notes: </strong>
									<%= clone.comment_batch.presence || 'none'%><br />
									<% if clone.clone_attachments.empty? %>
										<strong>Attached files: </strong>none<br />
									<% else %>
										<strong>Attached files: </strong><br />	
										<% clone.clone_attachments.each do |clone_attachment|%>
												<%= link_to File.basename(clone_attachment.attachment.path), clone_attachment.attachment.to_s, :target => "_blank"%><br />
										<%end%>
									<%end%>
			</div>
	</div>
	<div class="row">
		<div class="col-lg-12 right">
				<% if clone.batch_nb.nil? %>
					<%= link_to "Spawn batches", edit_batch_assay_clone_path(@assay, clone), :class =>"btn btn-danger btn-xs", :title=>"Update clone's parameters." ,:remote => true, :disabled => @assay.locked  %>		
				<% else %>
					<%= link_to "Modify spawned batches", edit_batch_assay_clone_path(@assay, clone), :class =>"btn btn-primary btn-xs", :title=>"Update clone's parameters." ,:remote => true, :disabled => @assay.locked  %>		
				<% end %>
		</div>
	</div>
  </div>
  </small>
</div>
  </div>
  </div>
  <%end%>

</div>
  

