<%= simple_form_for ([@assay,@clone]), remote: true, html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
	  	<!--Attention: la div form-group ui-front est indispensable au fonctionnement du champ autocomplete -->
			<div class="form-group ui-front">
				<div class="row">
						<div class="col-lg-8">
							<% if params[:id]%>
							<%= f.input :name %>
							<% else %>
							<%= f.input :name,
							:url => autocomplete_clone_name_clones_path,
							:as => :autocomplete,
							:id_element => '[id*="_id"]',
							:placeholder => 'Type a cloning name.',
							:update_elements => {:id => '[id*="_id"]'}
							 %>
							<% end %>
					 	</div>
					 	<div class= "col-lg-3">
					 		<small><%= f.input :id, :label => "Cloning #", :readonly => true%></small>
						</div>
					</div>
					<div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :backbones, :label => "Backbones",
												:label_method => lambda { |backbone| "#{backbone.number} | #{backbone.name}"},
												:value_method => :id,
												:prompt => 'Select a backbone.',
												:input_html => {class: "select2-select"},
												:collection => Insert.where(:dismissed => false),
												include_blank: false,
												include_hidden: false %>
							<% if @clone.id.present? %>
							<%= f.association :backbones, :label => "Backbones",
												:label_method => :clone_batch_id.to_s,
												:placeholder => "Select a backbone.",
												:as => :hidden %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :inserts, :label => "Inserts",
												:label_method => lambda { |insert| "#{insert.number} | #{insert.name}"},
												:value_method => :id,
												:prompt => 'Select insert(s)',
												:input_html => {class: "select2-select"},
												:collection => Insert.where(:dismissed => false),
												include_blank: false,
												include_hidden: false %>
							<% if @clone.id.present? %>
							<%= f.association :inserts, :label => "Inserts",
												:label_method => :clone_batch_id.to_s,
												:placeholder => "Select insert(s).",
												:as => :hidden %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :enzymes, :label => "Backbone enzymes",
												:label_method => :name,
												:value_method => :id,
												:prompt => 'Select enzymes',
												:input_html => {class: "select2-select"} %>
							<% if @clone.id.present? %>
							<%= f.association :enzymes, :label => "Backbone enzymes",
												:collection => @enzymes_all,
												:placeholder => 'Select enzymes',
												:as => :hidden %>
							<% end %>
						</div>
					</div>
					<div class="row">		
							<div class="col-lg-12">
								<%= f.association :cmeth, :label => "Method",
												:collection => @cmeths_all,
												:placeholder => "Select method",
												input_html: { class: 'select2-select' }%>
							</div>
					</div>	
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :primer_f, :collection => Primer.all, :label_method => lambda{|primer| "#{primer.id} | #{primer.name}"},
							:value_method => :id,:label => "Forward primer insert", :input_html => {class: "select2-select"} %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :primer_r, :collection => Primer.all, :label_method => lambda{|primer| "#{primer.id} | #{primer.name}"},
							:value_method => :id, :label => "Reverse primer insert", :input_html => {class: "select2-select"} %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.input :comment, :label => "Comment"%>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= f.association :projects, :label => "Projects",
												:label_method => :name,
												:value_method => :id,
												:prompt => 'Select projects',
												:input_html => {class: "select2-select"},
												:selected => 1
												 %>
							<% if @clone.id.present? %>
							<%= f.association :enzymes, :label => "Projects",
												:collection => @projects_all,
												:placeholder => 'Select projects',
												:as => :hidden %>
							<% end %>
						</div>
					</div>
					
 		<div class="btn-group" role="group" aria-label="...">
        	<% if params[:id]%>
        		<%= link_to "Duplicate", replicate_assay_clones_path(@assay,@clone), :class =>"btn btn-primary btn-md", :title=>"Update clone's parameters." ,:remote => true %>
        	<% else %>
        		<%= f.submit("Add", :id => "add_btn", :class => "btn btn-default", :title => "Save the changes.") %>
        	<% end %>
        	<%= f.submit 'Reset', :type => :reset, :class => "btn btn-default", :id =>"reset" %>
        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-danger", "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </div>
<%end%>


