<div class="row invisible">
	<div class="col-lg-1 col-md-1 col-sm-2 pull-right">
		<%= link_to "Export to xlsx", clone_batches_path({format: 'xls'}.merge(params)), class:"btn btn-default btn-xs" %>
	</div>
</div>
  <div class="container-fluid">
	  <table class="table table-striped">
	    <thead>
	     
	    <th class="col-lg-1 col-md-1 col-sm-A center">
	        <%= smart_listing.sortable "number", :nb %>
	    </th>
	      
	    <th class="col-lg-2 col-md-2 col-sm-2 center">
	        <%= smart_listing.sortable "name", :name %>
	    </th>
	    
	     <th class="col-lg-2 col-md-2 col-sm-2 center">
	        <%= smart_listing.sortable "construction", :clone %>
	    </th>
	    
	    <th class="col-lg-1 col-md-2 col-sm-2 center">
	       <%= sort_link(@q, :promoters_name, 'promoter') %>
	    </th>
	    
	     <th class="col-lg-1 col-md-2 col-sm-2 center">
	       <%= sort_link(@q, :genes_id, 'gene') %>
	    </th>
	    
	    	 <th class="col-lg-2 col-md-2 col-sm-2 center">
	       <%= sort_link(@q, :plasmid_batches_count, 'batches') %>
	    </th>
	    
	    <th class="col-lg-1 col-md-1 col-sm-1 center">
			<%= smart_listing.sortable "date", :created_at %>
	  	</th>
	  	<th class="col-lg-2 col-md-2 col-sm-2 center"></th>
	    </thead>
	    <tbody>
	    	 <% unless smart_listing.empty? %>
		  	<% smart_listing.collection.to_a.uniq.each do |s| %>
	      		<tr class="editable" data-id = "<%= s.id %>">
	          		<%= smart_listing.render object: s, partial: "clone_batches/smart_listing/clone_batch", locals: {object: s} %>
	        		</tr>
	      	<% end %>
	     <%end%>
	      	<%= smart_listing.item_new colspan: 9, link: new_from_inventory_new_clone_batch_path(:object) %>
	    </tbody>
	  </table>
	  <%= smart_listing.paginate %>
	  <%= smart_listing.pagination_per_page_links %>
	</div>
