<h2><%=t('.log_in')%></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :validate => true ) do |f| %>
<div class="row">
  <div class="form-inputs col-sm-3">
    <%= f.input :login, required: false, autofocus: true, :validate => true %>
    <%= f.input :password, required: false, :validate => true %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
 </div>
<div class="row">
  <div class="form-actions">
    <%= f.button :submit, 'Sign-in' %>
  </div>
<% end %>
  </div>
<%= render "devise/shared/links" %>
