<%= simple_form_for(@clone_attachment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :clone_id %>
    <%= f.input :filename %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
