<p id="notice"><%= notice %></p>

<h1>Listing Clone Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Clone</th>
      <th>Filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clone_attachments.each do |clone_attachment| %>
      <tr>
        <td><%= clone_attachment.clone_id %></td>
        <td><%= clone_attachment.filename %></td>
        <td><%= link_to 'Show', clone_attachment %></td>
        <td><%= link_to 'Edit', edit_clone_attachment_path(clone_attachment) %></td>
        <td><%= link_to 'Destroy', clone_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clone attachment', new_clone_attachment_path %>
