<%= simple_form_for ([@virus_production, @sterilitytest]), html: { class: 'form-vertical' } do |f| %>
		<div class="form-group ui-front">
			<div class="row">
				<div class="col-lg-2">
					<%= f.input :virus_production_id, :input_html =>{value: @virus_production.id}, as: :hidden %>
					<%=f.input :date, :label => "Date", :as => :string, :input_html => { :value => (f.object.date.strftime("%B %e, %Y") if f.object.date), "data-behaviour" => "datepicker" } %>
				</div>
				<div class="col-lg-4">
					<%= f.input :sterility, label: "Is the sample sterile ?", collection: [["yes",1],["no",2]], input_html: {class: "select2-select"} %>
				</div>
			</div>
	<div class="btn-group row" role="group" aria-label="...">
		<div class="col-xs-12 right">
			<%= f.submit "Save", :class => "btn btn-primary" %>
        	<%= link_to "Cancel", :back, :class => "btn btn-default" %>
        </div>
	</div>
<%end%>