<%= simple_nested_form_for @production, url: add_pbs_production_path, remote: false do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
<div class="form-group ui-front col-xs-12">
	<%= f.input :id , as:  :hidden %>
	
	<div class="row">
	 	<div class="col-xs-12">

	 		<%f.object.clone_batches.order('type_id').each do |clone_batch|%>
	 			<% type_name = clone_batch.type.name %>
				<%= f.association :plasmid_batches, label:  "Add #{type_name}", collection:  clone_batch.plasmid_batches.select_available,
				label_method:  lambda { |plasmid_batch| plasmid_batch.recap },
				input_html: {class: "select2-select", id: :"#{type_name}"}
				%>
			<%end%>	
		</div>
	</div>
<div class="btn-group row" role="group" aria-label="...">
	<div class="col-xs-12 right">
				<%= f.submit "Save", :class => "btn btn-primary" %>
	        	<%= link_to "Cancel", :back, :class => "btn btn-default" %>
	</div>
</div>
<% end %>

