<div class="panel-body">
		<%= simple_form_for @production, html: { class: 'form-vertical' } do |f| %>
			<%= f.error_notification %>
					<%= f.input :id, :as => :hidden %>
				
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8">
						<%= f.input :name, :disabled => f.object.last_step == 3 %>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<%= f.input :created_at, :label => "Start date", :as => :hidden %>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<%= f.association :clone_batches, :include_blank => false, :label => "Add plasmid", :collection => CloneBatch.where.not(:name => "").where.not(:type => nil).where(:dismissed => 0).order(:nb), input_html: { class: 'select2-select' },
						label_method: lambda { |clone_batch| "#{clone_batch.number} | #{clone_batch.name} | #{clone_batch.type.name}".html_safe },
						:disabled => f.object.last_step == 3 %>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
			        	<%= f.input :comment, :readonly => f.object.last_step == 3 %>
		        	</div>
		       	</div>
		       	<div class="row">
				       <div class="col-lg-12">
				       		<%= f.input :order_date, :label => "Expected end :", :disabled => f.object.last_step == 3, :as => :string, :input_html => { :value => (f.object.order_date.strftime("%B %e, %Y") if f.object.order_date), "data-behaviour" => "datepicker" } %>
							<%= f.association :projects, :label => "Projects",
							:collection => Project.all.order(:name),
							:input_html => { class:"select2-select" },
							:disabled => f.object.last_step == 3,
							:selected => 1 %>
						</div>
				</div>
	 			<div class="btn-group" role="group" aria-label="...">
	      		     	<%= link_to "Cancel", @productions, class: "btn btn-default", :title => "Cancel the changes." %>
	      		    <% unless f.object.last_step == 3 %>
	  		        		<%= f.submit("Submit", class: "btn btn-default", title: "Save the changes.") %>
	  		        	<%else%>
	  		        		<%= link_to "Next", add_plasmid_production_path(@production), class: "btn btn-default"%>
	  		        	<%end%>
	  		    </div>
	  	
			<% end %>
			</div>
	</div>