<%= simple_nested_form_for @production, url: update_pb_volume_production_path do |f|  %>
		<%= f.error_notification %>
		<ul class="errors"></ul>
		<%= f.input :id , :as => :hidden %>
			
				<%=f.fields_for :plasmid_batch_productions do |ff| %>
					<div class="row">
						<div class="col-xs-12">
							<h4 class="text-primary"><%=ff.object.plasmid_batch.clone_batch.type.name%></h4>
							<h5><%=ff.object.plasmid_batch.recap%></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
								
								<%= ff.input :id , :as => :hidden %>
								<%= ff.input :volume %>
						</div>
					</div>
				<%end%>
				
	<div class="row">
		  <div class="btn-group row" role="group" aria-label="...">
			<div class="col-xs-12 right">
				<%= f.submit "Save", :class => "btn btn-primary" %>
	        	<%= link_to "Cancel", :back, :class => "btn btn-default" %>
	        </div>
		</div>
<%end%>
