<% if @productions.empty?%>
			<p>No production to display!</p>
<%else%>
<table class="table table-bordered table-hover" style="width: 90%;" id="sortable-production">
  <thead>
    <tr>
    		<th style="width: 11%;">
        ID
      </th>
      <th style="width: 15%;">
        Name
      </th>
      <th style="width: 25%;">
        Plasmids
      </th>
      <th style="width: 10%;">
        Batches
      </th>
      <th style="width: 20%;">
        Comments
      </th>
      <th style="width: 10%;">
        Expected end
      </th>
      <th style="width: 4%;"></th>
    </tr>
  </thead>
  <tbody>
    <% @productions.each do |p| %>
      <tr data-item-id=<%= p.id %> class="item">
        <td id="id" class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
      <%unless p.virus_productions.empty?%>
          <strong><%= "Virus-#{p.virus_productions.last.number}"%></strong>
          <small>Prod.-<%= p.id %></small>
        <%else%>
          	<strong>Prod.-<%= p.id %></strong>
  	    <%unless p.last_step > 1%>
  	        	<%busy_batches =[]%>
  			<%if p.disable_switch %>
  	        		<span class= "glyphicon glyphicon-lock text-danger"></span>
  	        	<%else%>
  	        		<span class="glyphicon glyphicon-ok text-success"></span>
  	        <%end%>
          <%end%><br />
        <%end%>
    		    	
        </td>
        <td class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
        	<%=p.name%>
        </td>
        <td class=" text-align-left <%= "bg-primary" unless p.virus_productions.empty? %>">
	        	<%if p.clone_batches.empty?%>
	        	-
	        	<%else%>
	        	<% p.clone_batches.joins(:type).order('order_set').each do |c| %>
	        		
            <%=link_to clone_batch_path(c), class: link_formatter(p) do %>
              <small><span><strong><%=c.nb if c.number%></strong></span> - <span></small><%=c.name.truncate(50, omission:'...') if c.name%></span><br />
              <%end%>
	        	<%end%>
        	<%end%>
        </td>
        <td class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
        		<%if p.plasmid_batches.empty?%>
	        	-
	        	<%else%>
				<% p.plasmid_batches.each do |pb|%>
					<strong><%= pb.name %></strong><br />
				<%end%>
        		<%end%>
        	</td>
          <td id="comment" class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
            <%=p.comment.nil? ? "-" : p.comment %>
          </td>
           <td id="Exp. end" class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
          <%=p.order_date.nil? ? "-" : p.order_date.strftime("%d %b %y") %>
         </td>
        <td class="<%= "bg-primary" unless p.virus_productions.empty? %>">
            <%= link_to select_process_method(p)  do %>
				    <i class="fas fa-pen-square <%= "white" unless p.virus_productions.empty? %>"></i>
			<% end %>
          <% if can? :inform_production, @user %>
        		<%= link_to p, :method => :delete, data: {confirm: "Are you sure you want to delete this production ?"} do %>
				    <i class="fa fa-trash <%= "white" unless p.virus_productions.empty? %>"></i>
			<% end %>
		<%end%>
		<%end%>
		</td>
      </tr>
  </tbody>
</table>
<%end%>
