<% if @productions.empty?%>
			<p>No production to display!</p>
<%else%>
<table class="table table-bordered table-hover" id="sortable-production">
  <thead>
    <tr>
    		<th>
        ID
      </th>
      <th >
        Name
      </th>
      <th>
        Plasmids
      </th>
      <th>
        Batches
      </th>
      <th>
        Expected end
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @productions.each do |p| %>
      <tr data-item-id=<%= p.id %> class="item">
        <td id="id" class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
        	<strong>Prod.-<%= p.id %></strong>
	    <%unless p.last_step > 1%>
	        	<%busy_batches =[]%>
			<%if p.disable_switch %>
	        		<span class= "glyphicon glyphicon-lock text-danger"></span>
	        	<%else%>
	        		<span class="glyphicon glyphicon-ok text-success"></span>
	        <%end%>
        <%end%><br />
        	<strong><%= "Virus-#{p.virus_productions.last.number}" unless p.virus_productions.empty?%></strong>
    		    	
        </td>
        <td class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
        	<small><%=p.name%></small>
        </td>
        <td class=" text-align-left <%= "bg-primary" unless p.virus_productions.empty? %>">
	        	<%if p.clone_batches.empty?%>
	        	-
	        	<%else%>
	        	<% p.clone_batches.joins(:type).order('order_set').each do |c| %>
	        		<small><span class="<%=  p.virus_productions.empty? ? "text-primary" : "white" %>"><strong><%=c.nb if c.number%></strong></span>-<span><%=c.name.truncate(20, omission:'...') if c.name%></span></small><br />
	        	<%end%>
        	<%end%>
        </td>
        <td class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
        		<%if p.plasmid_batches.empty?%>
	        	-
	        	<%else%>
				<% p.plasmid_batches.each do |pb|%>
					<small><strong><%= pb.name %></strong><br /></small>
				<%end%>
        		<%end%>
        	</td>
           <td id="Exp. end" class=" <%= "bg-primary" unless p.virus_productions.empty? %>">
          <small><%=p.order_date.nil? ? "-" : p.order_date.strftime("%d %b %y") %></small>
         </td>
        <td class="<%= "bg-primary" unless p.virus_productions.empty? %>">
            <%= link_to edit_production_path(p.id)  do %>
				    <i class="glyphicon glyphicon-pencil <%= "white" unless p.virus_productions.empty? %>"></i>
			<% end %>
          <% if can? :inform_production, @user %>
        		<%= link_to p, :method => :delete do %>
				    <i class="glyphicon glyphicon-trash <%= "white" unless p.virus_productions.empty? %>"></i>
			<% end %>
		<%end%>
		<%end%>
		</td>
      </tr>
  </tbody>
</table>
<%end%>
