<% if !dosages.empty? %>
<small>
<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed " id="plasmid-table">
			<thead>
				<th>Titer</th>
				<th>Titer ATCC</th>
				<th>Titer to ATCC</th>
				<th>Contact</th>
				<th>Date</th>
				<th>Inact.</th>
				<th>Inact. atcc</th>
				<th>Inact. strd</th>
				<th>Validation</th>
			</thead>
				<% dosages.each do |dosage| %>
					<tr>
						<td class="col-lg-3 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer+" vg/ml" %></td>
						<td class="col-lg-3 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer_atcc.to_s+" vg/ml" %></td>
						<td class="col-lg-3 text-center"><%= dosage.titer.nil? ? "No data":"%.2e" %dosage.titer_to_atcc.to_s+" vg/ml" %></td>
						<td class="col-lg-2 text-center"><%= dosage.user.nil? ? "No data" : dosage.user.full_name %></td>
						<td class="col-lg-1 text-center"><%= dosage.date.nil? ? "No data" : dosage.date.strftime("%B %e, %Y") %></td>
						<td class="col-lg-1 text-center"><%= dosage.inactivation.nil? ? "No data" : dosage.inactivation.strftime("%B %e, %Y") %></td>
						<td class="col-lg-1 text-center"><%= dosage.inactivation_atcc.nil? ? "No data" : dosage.inactivation_atcc.strftime("%B %e, %Y") %></td>
						<td class="col-lg-1 text-center"><%= dosage.inactivation_standard.nil? ? "No data" : dosage.inactivation_standard.strftime("%B %e, %Y") %></td>
						<td class="col-lg-3 text-center"><% if dosage.accepted?%>
															<i class="fa_icon fa fa-check text-success"></i>
														<%else%>
															<i class="fa_icon fa fa-check text-danger"></i>
														<%end%>
													</td>
					</tr>
				<%end%>
				
</table>
</div>
</small>
<%end%>
