<%= render 'components/process_pills'%>
	<div class="panel panel-primary">
		<div class="panel-heading"> Cloning: <%= @assay.id %></div>
		<div class="panel-body" <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %> >
				<div id = "container">
						<%= render :partial => "clones/components/batch_list" , :locals => {:clones => @clones, :assay=>@assay}%>
				</div>
		</div>
			<div class="panel-footer">
			    	<%= link_to 'Previous', clone_design_assay_path(@assay.id), :class => "btn btn-default btn-sm" %>
				<%= link_to 'Next', clone_batch_qc_assay_path(@assay.id), :class => "btn btn-default btn-sm" %>
		  	</div>
	</div>
