<% provide(:title, "Cloning Manager") %>
<div class="row">
	<div class="col-xs-12">
		<h3>Cloning manager</h3>
	</div>
</div>
<% unless @assays.empty?%>
<div class="container">
	<div class="row" >
		<div class="row expl">
			<% if can? :create, Assay %>
			<div class="row">
					<%= link_to 'New cloning', assay_generator_assays_path , :class => "btn info prod_btn" %> 
					<%= link_to 'Push message !', users_inform_cloning_path(@user), :class => "btn info prod_btn"%>
			</div>
				<div class="row">
					<div class= "col-xs-12 center">
						<p style="font-size: 1.2em;">Drag and drop from the bottom to the top the rows by priority level.</p>
					</div>
				</div>
			<%end%>
				<div class="row">
					<div class="col-xs-8 col-centered" id="mgr_info">
						<%= render :partial => 'assays/components/assay_mgr'%>
					</div>
				</div>
		</div>
	</div>
	<!-- -->
		<div class="row">
			<div id='chart-container' class="col-xs-5">
					<%= render :partial => "assays/components/cloning_pie_chart", :locals => {:assays => @assays}  %>
			</div>
			
			<div class="col-xs-7 top10">
						<%= link_to "Reset visualization", reset_cloning_table_assays_path, :class =>" pull-right", :remote => true %>
						<div id='table_container'>
						<%= render :partial => "assays/components/assay_table", :locals => {:assays => @assays}  %>
					</div>
		
			</div>
		</div>
		<div class="row">
		<h6>Cloning Gantt-chart : </h6>
			<div id='gantt-container' class="col-xs-12">
						<%= render :partial => "assays/components/cloning_gantt_chart", :locals => {:assays => @assays}  %>
			</div>
		</div>
		<%else%>
			<p>No production to display</p>
		<%end%>
	</div>
