<header>
 <div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
  	<div class="navbar-header">
  		      <%=link_to(image_tag("/images/LOGO_NEW.png", size: "", alt: "Capseed"), root_path, class: "navbar-brand")%>
		      </button>
      </div>
      <% if signed_in? %>
      <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 10px;">
		      <ul class="nav navbar-nav ">
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="font120pc"><i class='fas fa-dna'></i> Plamids</span> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
          <li><%=link_to "Inventory".html_safe, clone_batches_path, class: "font120pc" %></li>
          <% if can? :manage, :all %>
          	<li><%=link_to "Box inventory", plasmid_boxes_path, class: "font120pc"   %></li>
          	<%end%>
          </ul>
        </li>
		      	<li><%= link_to "<i class='fas fa-virus'></i> Virus".html_safe, virus_productions_path, class: "font120pc"  %></li>


					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="font120pc"><i class='fas fa-vials'></i> Virus batches</span> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	        <li><%=link_to "Inventory", boxes_path, class: "font120pc"   %></li>
          <li><%=link_to "Sorter".html_safe, sorter_virus_batches_path, class: "font120pc" %></li>
          </ul>
        </li>



		        <li><%= link_to "<i class='fas fa-clone'></i> Cloning".html_safe, assays_path, class: "font120pc"  %></li>
		        <li><%= link_to "<i class='fas fa-industry'></i> Production".html_safe, productions_path, class: "font120pc"  %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="font120pc"><i class='fas fa-tools'></i> Utilities</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% if can? :manage, :all %>
          	<li><%=link_to "Constructions", clones_path, class: "font120pc"  %></li>
          	<%end%>
            <li><%=link_to "Primers", primers_path, class: "font120pc"  %></li>
            <li><%=link_to "Promoters", promoters_path, class: "font120pc"  %></li>
            <li><%=link_to "Genes", genes_path, class: "font120pc"  %></li>
            <li><%=link_to "Enzymes", enzymes_path, class: "font120pc"  %></li>
            <% if can? :manage, @user %>
            <li role="separator" class="divider"></li>
            <li><%=link_to "User management", users_path, class: "font120pc"  %></li>
            <li><%=link_to "Projects", projects_path, class: "font120pc"  %></li>
            <%end%>
          </ul>
        </li>
		      </ul>
		      <small>
		       <ul class="nav navbar-nav navbar-right">
		    		<li>	  <%= link_to current_user.full_name, edit_user_path(current_user) %></li>
		    		<li><%= link_to destroy_user_session_path, method: :delete do %>
		    				<span class="glyphicon glyphicon-log-out"></span>
		    			<%end%>
		    		</li>
		    		<li>	<%= link_to edit_user_path(current_user) do %>
	    					<span class="glyphicon glyphicon-bell"></span>
		    			<%end%>
		    		</li>
		    		<%end%>
		    		<% if can? :manage, :all %>
		    		<li>
		   			<%= link_to  admin_root_path do %>
		   				<span class="glyphicon glyphicon-tower"></span> Administration
		   			<%end%>
		    		<li>
		    		<% end %>
		    		</li>
		    	</li>
				</ul>
			</small>
			</div>
			</div>
		</div>
</header>