<header>
 <div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
  	<div class="navbar-header">
  		      <%=link_to(image_tag("/images/LOGO_NEW.png", size: "", alt: "Capseed"), root_path, class: "navbar-brand")%>
		      </button>
      </div>
      <% if signed_in? %>
      <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 10px;">
		      <ul class="nav navbar-nav ">
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="font120pc">Plasmids</span> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
          <li><%=link_to "Plamids inventory", clone_batches_path, class: "font120pc" %></li>
          <% if can? :manage, :all %>
          	<li><%=link_to "Box inventory", plasmid_boxes_path, class: "font120pc"   %></li>
          	<%end%>
          </ul>
        </li>
		      	<li><%= link_to "Virus", virus_productions_path, class: "font120pc"  %></li>
		      	<li><%= link_to "Virus batches", boxes_path, class: "font120pc"  %></li>
		        <li><%= link_to "Cloning", assays_path, class: "font120pc"  %></li>
		        <li><%= link_to "Production", productions_path, class: "font120pc"  %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="font120pc">Utilities</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% if can? :manage, :all %>
          	<li><%=link_to "Constructions", clones_path, class: "font120pc"  %></li>
          	<%end%>
            <li><%=link_to "Primers", primers_path, class: "font120pc"  %></li>
            <li><%=link_to "Promoters", promoters_path, class: "font120pc"  %></li>
            <li><%=link_to "Genes", genes_path, class: "font120pc"  %></li>
            <li><%=link_to "Enzymes", enzymes_path, class: "font120pc"  %></li>
            <% if can? :manage, @user %>
            <li role="separator" class="divider"></li>
            <li><%=link_to "User management", users_path, class: "font120pc"  %></li>
            <li><%=link_to "Projects", projects_path, class: "font120pc"  %></li>
            <%end%>
          </ul>
        </li>
		      </ul>
		       <ul class="nav navbar-nav navbar-right">
		       
		    		<li id="session_msg"><a class="inactivelink">Logged in as <%= "#{current_user.firstname}  #{current_user.lastname}" %></a></li>
		    		<li><%= link_to destroy_user_session_path, method: :delete do %>
		    				<span class="glyphicon glyphicon-log-out"></span>
		    			<%end%>
		    		</li>
		    		<li>	  <%= link_to edit_user_path(current_user) do %>
	    					<span class="glyphicon glyphicon-user"></span>
		    			<%end%>
		    		</li>
		    		<li>	<%= link_to edit_notif_user_path(current_user) do %>
	    					<span class="glyphicon glyphicon-bell"></span>
		    			<%end%>
		    		</li>
		    		<%end%>
		    		<% if can? :manage, :all %>
		    		<li>
		   			<%= link_to  admin_root_path do %>
		   				<span class="glyphicon glyphicon-tower"></span> Administration
		   			<%end%>
		    		<li>
		    		<% end %>
		    		</li>
				</ul>
			</div>
			</div>
		</div>
</header>