<header>
 <div class="navbar navbar-dark navbar-fixed-top navbar">
  <div class="container-fluid">
  	<div class="navbar-header">
  		      <%=link_to(image_tag("/images/Logo-1200.png", size: "150x33", alt: "CapSeed"), root_path, class: "navbar-brand")%>
  		      <button type="button" class="navbar-toggle align-bottom" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		      </button>
      </div>
      <% if signed_in? %>
      <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav ">
		      	<li><%= link_to "Plasmid inventory", root_path %></li>
		      	<li><%= link_to "Virus inventory", virus_productions_path %></li>
		        <li><%= link_to "Cloning", assays_path %></li>
		        <li><%= link_to "Production", productions_path %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilities <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% if can? :manage, :all %>
          	<li><%=link_to "Constructions", clones_path %></li>
          	<%end%>
            <li><%=link_to "Primers", primers_path %></li>
            <li><%=link_to "Promoters", promoters_path %></li>
            <li><%=link_to "Genes", genes_path %></li>
            <li><%=link_to "Enzymes", enzymes_path %></li>
            <% if can? :manage, @user %>
            <li role="separator" class="divider"></li>
            <li><%=link_to "User management", users_path %></li>
            <li><%=link_to "Projects", projects_path %></li>
            <%end%>
          </ul>
        </li>
		      </ul>
		       <ul class="nav navbar-nav navbar-right">
		       
		    		<li id="session_msg"><a class="inactivelink">Logged in as <%= "#{current_user.firstname}  #{current_user.lastname}" %></a></li>
		    		<li><%= link_to destroy_user_session_path, method: :delete do %>
		    				<span class="glyphicon glyphicon-log-out"></span>
		    			<%end%>
		    		</li>
		    		<li>	  <%= link_to edit_user_path(current_user) do %>
	    					<span class="glyphicon glyphicon-user"></span>
		    			<%end%>
		    		</li>
		    		<li>	<%= link_to edit_notif_user_path(current_user) do %>
	    					<span class="glyphicon glyphicon-bell"></span>
		    			<%end%>
		    		</li>
		    		<%end%>
		    		<% if can? :manage, :all %>
		    		<li>
		   			<%= link_to  admin_root_path do %>
		   				<span class="glyphicon glyphicon-tower"></span> Administration
		   			<%end%>
		    		<li>
		    		<% end %>
		    		</li>
			
				</ul>
			</div>
			</div>
		</div>
</header>