<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
 	<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  
  
  	<%= include_gon(:watch => true) %>
  	<%= Gon::Base.render_data({}) %>
  	<%= render 'layouts/header' %>
  	<%= render :partial => 'components/modal_alt' %>
  	<%= render :partial => 'components/modal' %>
  	<%= render :partial => 'components/modal_pb' %>
  	<%= render :partial => 'components/modal_user' %>
    <div class="container">
    	<div id='flash-msg-container'>
			<%= render partial: "layouts/flash_messages", :flash => flash %>
		</div>

<%case params[:controller] %>
		<% when "assays" || params[:controller] == "clones"%>
		<h4>Cloning manager</h4>
		<nav class="navbar-cloning" role="navigation">
    			<div class="collapse navbar-collapse navbar-cloning">
				<%= render :partial => 'components/dynamic_menu' %>
				<% provide(:title, "Cloning Manager") %>
				</nav>
				<div class="jumbotron container-fluid cloning-color" >
		<% when "productions" %>
		<h4>Production manager</h4>
		<nav class="navbar-production" role="navigation">
    			<div class="collapse navbar-collapse navbar-production">
				<%= render :partial => 'components/dynamic_menu_prod' %>
				<% provide(:title, "Production Manager") %>
				</nav>
				<div class="jumbotron container-fluid production-color" >
		<% when "clone_batches" %>
				<div class="jumbotron container-fluid clone_batch-color" >
		<% when "virus_productions" %>
				<div class="jumbotron container-fluid virus_production-color" >
		<%else%>
		<div class="jumbotron container-fluid white-bg" >
		<%end%>
				<div class="spinner">
					</div>
						     <%= yield %>
				 </div>
 	</body>
 	<div>
 		<div class="col-lg-12">
      		<%= render 'layouts/footer' %>
      	</div>
    </div>
</html>
